<ion-header>
  <ion-toolbar>
    <ion-title>Update Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="modifyImage(f)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Upload event poster</h3>
          </div>
          <div padding>
            <ion-item>
                <img *ngIf="imageURL" [src]="apiUrl+'/files/'+imageURL"
                />
            </ion-item>
            <ion-item>
              <input name="file" type="file" accept="image/x-png, image/jpeg, image/gif" (change)="attachFile($event)" ngModel required *ngIf="imageURL==null"/>
            </ion-item>
          </div>
          <div padding>
            <ion-button type="submit" [disabled]="fileValid==false" expand="block" *ngIf="imageURL==null">Upload photo</ion-button>
            <ion-button type="submit" [disabled]="f.invalid" expand="block" *ngIf="imageURL!=null">Remove photo</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="updateEventVideoForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label>Title</ion-label>
        <ion-input placeholder="Event Title" formControlName="title" type="text" required ngDefaultControl></ion-input>
      </ion-item>
      
      <br>
      <ion-list>
        <ion-radio-group value="biff" formControlName="type" (ionChange)="onSelectType($event)" ngDefaultControl>
          <ion-list-header>
            <ion-label>Event type:</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Live</ion-label>
            <ion-radio slot="start" value="live"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Premiere</ion-label>
            <ion-radio slot="start" value="premiere"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Recording</ion-label>
            <ion-radio slot="start" value="recording"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <br>
      <ion-item>
        <ion-label>Start time:</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DDTHH:mm:ssTZD" min="2020" max="2030" value="2012-10-25T12:00:00.000Z"  formControlName="beginDate" required ngDefaultControl></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Event has end time</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

      <br>
      <ion-item>
        <ion-label>End time:</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DDTHH:mm:ssTZD" value="2012-10-25T12:00:00.000Z" formControlName="endDate" required ngDefaultControl></ion-datetime>
      </ion-item>
      
      <br>
      <ion-item>
        <ion-label>Price:</ion-label>
        <ion-input placeholder=0 type="cc-number" formControlName="price" required ngDefaultControl></ion-input>
      </ion-item>
      
      <br>
      <ion-item>
        <ion-label>Description:</ion-label>
        <ion-textarea placeholder="Enter Event Description..." formControlName="description" required ngDefaultControl></ion-textarea>
      </ion-item>
      
      <br>
      <ion-item>
        <ion-label>Link type:</ion-label>
        <ion-select placeholder="Select One" formControlName="source" (ionChange)="onSelectSource($event)" ngDefaultControl>
          <ion-select-option value=".m3u8">.m3u8</ion-select-option>
          <ion-select-option value="youtube">youtube</ion-select-option>
          <ion-select-option value=".mp4">.mp4</ion-select-option>
        </ion-select>
      </ion-item>
      
      <br>
      <ion-item>
        <ion-label>Link:</ion-label>
        <ion-input placeholder="url" formControlName="videoUrl" required ngDefaultControl></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update Event</ion-button>
        </ion-col>
      </ion-row>
    </form>

    <ion-row>
      <ion-col>
        <ion-button (click)="deleteEventVideo()" color="secondary" shape="full" expand="block">Delete Event</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
