<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Tickets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>My Tickets</ion-list-header>
    <ion-item *ngFor="let ticket of userTickets">
      <ion-thumbnail slot="start">
        <img *ngIf="ticket.event.posterUrl" [src]="apiUrl+'/files/'+ticket.event.posterUrl" />
      </ion-thumbnail>
      <ion-label>
        <ion-card-title button [routerLink]="['./event/', ticket.event.id]">{{ticket.event.title}}</ion-card-title>
        <p>{{ticket.event.beginDate | date: 'MMM dd, YYYY'}} - {{ticket.event.endDate | date: 'MMM dd, YYYY'}}</p>
        <ion-text color="primary">
          <p><ion-text *ngIf="ticket.ticket.purchaseDate!=null" color="primary">BOUGHT </ion-text><ion-text *ngIf="ticket.ticket.liked==true" color="primary">LIKED</ion-text></p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
