<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Tickets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
    <ion-col   sizeLg="5" sizeMd="5" sizeXs="6" *ngFor="let ticket of userTickets" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ticket.id}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       user id{{ticket.userId}}....
       event id{{ticket.eventId}}
        <ion-text color="primary">
            <h3 *ngIf="ticket.purchaseDate!=null" color="primary">BOUGTH</h3>
            <h3 *ngIf="ticket.liked==true" color="primary">LIKED</h3>
          </ion-text>
      </ion-card-content>
    </ion-card>
  </ion-col>
  </ion-row>
    
  </ion-grid>  
</ion-content>
