<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid>
      <ion-row>
      <ion-col   sizeLg="5" sizeMd="5" sizeXs="6" *ngFor="let event of EventVideos" >
      <ion-card>
        <ion-card-header>
          <img *ngIf="event.posterUrl" [src]="apiUrl+'/files/'+event.posterUrl"/>
          <ion-card-title>{{event.title}}</ion-card-title>
          <div class="item-note" item-end>
            <button ion-button clear [routerLink]="['./update-event/', event.id]">
              
              <ion-icon name="create" style="zoom:2.0"></ion-icon>
            </button>
            <button ion-button clear (click)="deleteEventVideo(event, event.id)">
              <ion-icon name="trash" style="zoom:2.0"></ion-icon>
            </button>
            <button ion-button clear [routerLink]="['./event/', event.id]">
              <ion-icon name="eye" style="zoom:2.0"></ion-icon>
            </button>
          </div>
        </ion-card-header>
      
        <ion-card-content>
         this is the id{{event.id}}....
          {{event.description}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
      
    </ion-grid>  

  <!-- fab placed to the bottom start -->
  <ion-fab horizontal="end" slot="fixed" routerLink="create-event">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
</ion-content>
