<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid>
      <ion-row>
      <ion-col   sizeLg="5" sizeMd="5" sizeXs="6" *ngFor="let event of EventVideos" >
      <ion-card>
        <img *ngIf="event.posterUrl" [src]="apiUrl+'/files/'+event.posterUrl"/>
        <ion-card-header>
          <ion-card-title>{{event.title}}</ion-card-title>
          <ion-card-subtitle class="ion-text-end">{{event.price}} lei</ion-card-subtitle>
        </ion-card-header>

        <div class="ion-text-center">
          <button ion-button [routerLink]="['./update-event/', event.id]" style="background: none !important;">
            <ion-icon slot="icon-only" name="create" style="zoom:2.0;"></ion-icon>
          </button>
          <button ion-button (click)="deleteEventVideo(event, event.id)" style="background: none !important;">
            <ion-icon name="trash" style="zoom:2.0"></ion-icon>
          </button>
          <button ion-button [routerLink]="['../event/', event.id]" style="background: none !important;">
            <ion-icon name="eye" style="zoom:2.0"></ion-icon>
          </button>
        </div>
      </ion-card>
    </ion-col>
    </ion-row>
      
    </ion-grid>  

  <!-- fab placed to the bottom start -->
  <ion-fab horizontal="end" slot="fixed" routerLink="create-event">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
</ion-content>
