<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ios list-ios hydrated">

    <ion-item *ngFor="let event of EventVideos" class="item-label item ios in-list ion-focusable hydrated">
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>{{event.event}}</h2>
        <h3>{{event.description}}</h3>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/update-event/', event._id]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteEventVideo(event, i)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>


  <!-- fab placed to the bottom start -->
  <ion-fab horizontal="end" slot="fixed" routerLink="create-event">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
</ion-content>
