<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="userData" >

        <ion-list>
          <ion-item>
            <ion-avatar slot="end">
              <ion-img *ngIf="userData.user.imageUrl!=''" [src]="apiUrl+'/files/'+userData.user.imageUrl"></ion-img>
            </ion-avatar>        
            <ion-title>{{userData.user.firstName}} {{userData.user.lastName}}</ion-title>
          </ion-item>
          <ion-item button routerLink="./profile/">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Edit Profile</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="card" slot="start"></ion-icon>
            <ion-label>Payment options</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="notifications" slot="start"></ion-icon>
            <ion-label>Notification Settings</ion-label>
          </ion-item>
          <ion-item button (click)="logout()" deteal="true">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>

</ion-content>
