<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form  #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col size-md="6" size-lg="5" size-xs="12">
            <img width="300vw" height="auto" src="/assets/images/video_streaming.png"/>
            <div>
              <h3>Create your account!</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input  name="firstName" type="text" placeholder="First Name" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input  name="lastName" type="text" placeholder="Last Name" ngModel required></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
              </ion-item>
              
              <ion-item>
                <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
              </ion-item>
            </div>
            
            <div padding>
              <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
            </div>
            
            <ion-button type="button" expand="block" fill="clear" [routerLink]="['/login']">Already a Member? Log in!</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>

  
  

</ion-content>
